<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'reader/style.css' %}" />

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      {% for article in fanpage.article_set.all %}

      <div class="card border-secondary">
        <div class="card-body">
          <h5 class="card-title">{{ article.date }}</h5>
          <p class="card-text">{{ article.text }}</p>
          <div class="card-footer text-muted">Source: {{ article.source }}</div>
          <a
            href="https://facebook.com{{ article.url }}"
            class="btn btn-secondary btn-sm active"
            role="button"
            aria-pressed="true"
            >FB Link</a
          >
          <input type="checkbox" class="starred" data-pk="{{ article.pk }}" />
          Starred<br />
          <input type="checkbox" class="read" data-pk="{{ article.pk }}" />
          Read<br />
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

<script src="{% static 'reader/detail.js' %}"></script>
