<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<style>
  body {
    background-color: #000000;
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <ul class="list-group">
        {% for fanpage in fanpage_list %}
        <a href="{% url 'detail' fanpage.pk %}">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{ fanpage.name }}
            <span class="badge badge-primary badge-pill">
              {{ fanpage.article_set.count }}
            </span>
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
